@import '@styles/main.scss';
.btn{
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 500px;
    font-size: 13px;
    border-radius: 3px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primaryBtn{
    background: $primary_color;
    color: $white_color;
    border: 1px solid $primary_color;
    &:hover{
        background-color:transparent;
        color: $primary_color;
        
    }
}
.secondaryBtn{
    background: transparent;
    color: $primary_color;
    border: 1px solid $primary_color;
    &:hover{
        background-color: $primary_color;
        color: $white_color;
        
    }
}