.slick-slider:hover .slick-arrow{
    color: #333;
    width: 20px;
    height: 20px;
    opacity: 1;
    transition: all 0.3s ease;
}

.slick-slider:hover .slick-prev{
    left: 18px;
    opacity: 0.7;
}
.slick-slider:hover .slick-next{
    right: 10px;
    opacity: 0.7;
}


.slick-prev{
    left: 5px;
    z-index: 9999;
    transition: all 0.3s ease;
}
.slick-next{
    right: 0px;
    z-index: 9999;
    transition: all 0.3s ease;
}
