@import '@styles/main.scss';

.menu{
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
    position: relative;
}
.menu::after{
    content: '';
    display: block;
    height: 3px;
    background-color: $primary_color;
    transform-origin: right;
    transform: scale(0);
    transition: 0.5s, opacity 0.5s;
    opacity: 0;
    margin-top: 6px;
}
.menu:hover::after{
    transition: 0.5s ;
    transform: scale(1);
    opacity: 1;
}
.topHeader{
    position: absolute;
    top: 0;
}
.fixedHeader{
    width: 447px;
    position: fixed;
    top: -83px;
    background-color: #fff;
    opacity: 0.9;
    z-index: 999;
    transform: translateY(83px);
    transition: all 0.3s ease-in;
    box-shadow: 2px 0 12px 0 rgba(0, 0, 0, .15);
    backdrop-filter: blur(5px);
}