@import '../../assets/styles/main.scss';

.menu{
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
}
.menu::after{
    content: '';
    display: block;
    height: 3px;
    background-color: $primary_color;
    transform-origin: right;
    transform: scale(0);
    transition: 0.5s, opacity 0.5s;
    opacity: 0;
    margin-top: 6px;
}
.menu:hover::after{
    transition: 0.5s ;
    transform: scale(1);
    opacity: 1;
}