    @import "tailwindcss";
    @theme {
    --color-primaryColor: #333;
    --color-secondaryColor: #888;
    --color-thridaryColor: #555;
    --color-whiteColor: #fff;
    --color-subColor: #404040;
    }

