@mixin radius_common($radius: 10px){
    border-radius: $radius;
}
@mixin btn($h,$w,$color,$radius){
    width: $w;
    height: $h;
    background-color: $color;
    @include radius_common($radius);
}
@mixin flex_box_custom($justify,$align,$gap:10px){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}